<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ATP Admin Homepage</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./styles/admin-homepage.css">
    </head>

    <body>
        <div class="root">
            <nav class="navbar">
                <img class = "upwing-logo" src="./images/upwing-logo.png" alt="Upwing Logo">
                ATP Submission
            </nav>

            <h1>Test Selection</h1>
            
            <main>
                <ul class="atp-cards-container">
                    <li class="atp-card">
                        <div class = "atp-info-container">
                            <div class = "atp-id">ATP-003-D4-CHK</div>
                            <div class = "atp-description">D4 SCS Motor Solo Acceptance Test</div> 
                        </div>
                        <img class = "arrow-icon" src="./images/arrow-icon.png" alt="Arrow Icon">
                    </li> 
                    
                    <li class="atp-card">
                        <div class = "atp-info-container">
                            <div class = "atp-id">ATP-003-D4-CHK</div>
                            <div class = "atp-description">D4 SCS Motor Solo Acceptance Test</div> 
                        </div>
                        <img class = "arrow-icon" src="./images/arrow-icon.png" alt="Arrow Icon">
                    </li>  

                    <li class="atp-card">
                        <div class = "atp-info-container">
                            <div class = "atp-id">ATP-003-D4-CHK</div>
                            <div class = "atp-description">D4 SCS Motor Solo Acceptance Test</div> 
                        </div>
                        <img class = "arrow-icon" src="./images/arrow-icon.png" alt="Arrow Icon">
                    </li>  

                    <li class="atp-card">
                        <div class = "atp-info-container">
                            <div class = "atp-id">ATP-003-D4-CHK</div>
                            <div class = "atp-description">D4 SCS Motor Solo Acceptance Test</div> 
                        </div>
                        <img class = "arrow-icon" src="./images/arrow-icon.png" alt="Arrow Icon">
                    </li>  

                    <li class="atp-card">
                        <div class = "atp-info-container">
                            <div class = "atp-id">ATP-003-D4-CHK</div>
                            <div class = "atp-description">D4 SCS Motor Solo Acceptance Test</div> 
                        </div>
                        <img class = "arrow-icon" src="./images/arrow-icon.png" alt="Arrow Icon">
                    </li>  

                    <li class="atp-card">
                        <div class = "atp-info-container">
                            <div class = "atp-id">ATP-003-D4-CHK</div>
                            <div class = "atp-description">D4 SCS Motor Solo Acceptance Test</div> 
                        </div>
                        <img class = "arrow-icon" src="./images/arrow-icon.png" alt="Arrow Icon">
                    </li>  

                    <li class="atp-card">
                        <div class = "atp-info-container">
                            <div class = "atp-id">ATP-003-D4-CHK</div>
                            <div class = "atp-description">D4 SCS Motor Solo Acceptance Test</div> 
                        </div>
                        <img class = "arrow-icon" src="./images/arrow-icon.png" alt="Arrow Icon">
                    </li>  
                </ul>

                <div class = "buttons-container">
                    <button class = "atp-button" onclick="window.location.href='./create-atp-form-interactive.html'">Create New ATP</button>
                    <button class = "atp-button">Update ATP</button>
                    <button class = "atp-button">Drafts</button>
                    <button class = "atp-button">Pending Reviews</button>
                    <button class = "atp-button">Approved Reviews</button>
                </div>

            </main>

        </div>
    </body>

</html>