/* HeadingItem CSS Module */

.headingItem {
    background: none;
    border: none;
    padding: 20px 0;
    margin: 30px 0 20px 0;
    border-bottom: 3px solid rgb(44, 76, 142);
}

.headingText {
    color: rgb(44, 76, 142);
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
}

.headingH1 {
    font-size: 48px;
}

.headingH2 {
    font-size: 42px;
}

.headingH3 {
    font-size: 36px;
}

.headingH4 {
    font-size: 30px;
}

.headingH5 {
    font-size: 24px;
}

.headingH6 {
    font-size: 20px;
}
