/* Shared Navbar CSS Module */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(76, 75, 75);
    white-space: nowrap;
    background-color: white;
    z-index: 1000;
    height: 115px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.upwingLogo {
    cursor: pointer;
    position: absolute;
    left: 30px;
    height: 80px;
    width: 185px;
    object-fit: contain;
}
