/* ATPCard CSS Module */

.atpCard {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    border-left: 4px solid transparent;
    transition: all 0.2s ease;
    padding: 20px 20px;
}

.atpCard:hover {
    border-left: 4px solid rgb(44,76,142);
    cursor: pointer;
    background-color: rgb(240,240,240);
}

.arrowIcon {
    width: 30px;
}

.atpInfoContainer {
    display: flex;
    flex-direction: column;
}

.atpTitle {
    font-size: 25px;
    font-weight: 500;
}

.atpDescription {
    font-size: 20px;
}
