/* HomePage CSS Module - Scoped styles */

/* Page Container */
.homePage {
    width: 100%;
    min-height: 100vh;
    background: rgb(248, 249, 250);
    font-family: "Inter", "Roboto", sans-serif;
    padding-top: 100px;
}

.pageTitle {
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 30px;
    white-space: nowrap;
    font-size: 35px;
}
